<%
/**
 * @file: search.tmpl
 * @author: shangwenhe@itv.baidu.com
 * @date: 2017-04-14
 * @description: this is a <tmpl> file
 */
%>


<div class="panel panel-default">
      <div class="panel-body">
        <h3><%= data.displayName %><small> <%= data.username %></small></h3>
        <p>邮箱：<%= data.mail %></p>
        <p>手机号：<%= data.telphone %></p>
        <p>所属部门：<%= data.dept %></p>
        <p>所属节点：<%= data.dn %></p>
    </div>
</div>

