<%
/**
 * @file: login.tmpl
 * @author: shangwenhe@itv.baidu.com
 * @date: 2017-04-13
 * @description: this is a <tmpl> file
 */
%>

<div class="alert alert-warning alert-dismissible" id='alertWarning' role="alert">
      <button type="button" class="close" data-dismiss="alert"
          aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= data.info %>
</div>

